In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df <- data.frame(label = c('a1', 'a2', 'a3', 'a4', 'a5'),
                 x1 = c(1, 2, 3, NA, NA), 
                 x2 = c(100, NA, 300, 400, NA))
df

  label x1 x2
1 a1     1 100
2 a2     2  NA
3 a3     3 300
4 a4    NA 400
5 a5    NA  NA

### Set index for df instead of integer index

In [3]:
row.names(df) <- df$label
df

   label x1 x2
a1 a1     1 100
a2 a2     2  NA
a3 a3     3 300
a4 a4    NA 400
a5 a5    NA  NA

### Remove a column in df

In [4]:
df <- subset(df, select = -c(label))
df

   x1 x2
a1  1 100
a2  2  NA
a3  3 300
a4 NA 400
a5 NA  NA

### remove "rows" in a dataframe with a NA value in one of the columns

In [5]:
df1 = na.omit(df)
df1

   x1 x2
a1 1  100
a3 3  300

### remove "rows" in a dataframe with all NA

In [6]:
df %>% filter_all(any_vars(!is.na(.)))

  x1 x2
1  1 100
2  2  NA
3  3 300
4 NA 400