## 1. Create a list

In [1]:
list_1 = list(1, "abc", TRUE, 3)  # === list(c(1), c("abc"), c(TRUE), c(3))
                             # every element in a list is actually a vector
list_1

[[1]]
[1] 1

[[2]]
[1] "abc"

[[3]]
[1] TRUE

[[4]]
[1] 3

In [2]:
#  every element in a list is actually a vector
list_2 <- list(c(1), c("abc"), c(TRUE), c(3))
list_2

[[1]]
[1] 1

[[2]]
[1] "abc"

[[3]]
[1] TRUE

[[4]]
[1] 3

In [3]:
class(list_2[[2]])

[1] "character"

## 2. Apply function to a list: lapply

In [4]:
types_x <- lapply(list_1, class)  # apply a class function to every element in list x
                                  # and return to a new list
types_x

[[1]]
[1] "numeric"

[[2]]
[1] "character"

[[3]]
[1] "logical"

[[4]]
[1] "numeric"

## 3. as.list()

In [5]:
as.list(1:3)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

## 4. list with many types of datasets, access by name

In [6]:
list_3 <- list(a="test1", b=1:3, data=head(iris))  # a, b and data are names
list_3

$a
[1] "test1"

$b
[1] 1 2 3

$data
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [7]:
# access to "b" name of list_3 by $ sign
list_3$b

[1] 1 2 3

In [8]:
# access to "b" name of list_3 by [[]]
list_3[["b"]]

[1] 1 2 3

In [9]:
# access to "b" name of list_3 by []
list_3["b"]

$b
[1] 1 2 3