## 1. Create a list

In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
list_1 = list(1, "abc", TRUE, 3)  # === list(c(1), c("abc"), c(TRUE), c(3))
                             # every element in a list is actually a vector
list_1

[[1]]
[1] 1

[[2]]
[1] "abc"

[[3]]
[1] TRUE

[[4]]
[1] 3

In [3]:
#  every element in a list is actually a vector
list_2 <- list(c(1), c("abc"), c(TRUE), c(3))
list_2

[[1]]
[1] 1

[[2]]
[1] "abc"

[[3]]
[1] TRUE

[[4]]
[1] 3

In [4]:
class(list_2[[2]])

[1] "character"

## 2. Apply function to a list: lapply

In [5]:
types_x <- lapply(list_1, class)  # apply a class function to every element in list x
                                  # and return to a new list
types_x

[[1]]
[1] "numeric"

[[2]]
[1] "character"

[[3]]
[1] "logical"

[[4]]
[1] "numeric"

## 3. as.list()

In [6]:
as.list(1:3)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

## 4. list with many types of datasets, access by name

In [7]:
list_3 <- list(a="test1", b=1:3, data=head(iris))  # a, b and data are names
list_3

$a
[1] "test1"

$b
[1] 1 2 3

$data
  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [8]:
# access to "b" name of list_3 by $ sign
list_3$b

[1] 1 2 3

In [9]:
# access to "b" name of list_3 by [[]]
list_3[["b"]]

[1] 1 2 3

In [10]:
# access to "b" name of list_3 by []
list_3["b"]

$b
[1] 1 2 3

## 5.  Create a list

In [11]:
df <- data.frame(
    individual_id = c(80786, 80792, 98318, 80793, 92884),
    external_id = c('CPI248', 'CPI203', 'CPI236', 'CPI204', 'CPI236'),
    gender = c('FEMALE', 'FEMALE', 'MALE', 'FEMALE', 'Male')
)
df

  individual_id external_id gender
1 80786         CPI248      FEMALE
2 80792         CPI203      FEMALE
3 98318         CPI236      MALE
4 80793         CPI204      FEMALE
5 92884         CPI236      Male

In [12]:
Male <- df %>% 
            filter(tolower(gender) == 'male') %>%
            select(external_id)
Female <- df %>% 
            filter(tolower(gender) == 'female') %>%
            select(external_id)
dic <- list(
    Male = as.vector(Male$external_id),
    Female = as.vector(Female$external_id)
)
dic

$Male
[1] "CPI236" "CPI236"

$Female
[1] "CPI248" "CPI203" "CPI204"

In [13]:
dic$Male

[1] "CPI236" "CPI236"

In [14]:
c(rep(0, 5), rep(1, 3))

[1] 0 0 0 0 0 1 1 1

In [15]:
dic = list(Male = c("CPI464", "CPI503"),
           Female = c("CPI465", "CPI504"),
           Other = c("NOTexisted", "", NA))
dic

$Male
[1] "CPI464" "CPI503"

$Female
[1] "CPI465" "CPI504"

$Other
[1] "NOTexisted" ""           NA

## 6. Get values of list (dict in Python)

In [16]:
get_values_of_list <- function(dic){
    # vec <- names(dic)
    values <- as.vector(unlist(dic))
    return (values)
}

In [17]:
dict1 = list('All' = list('a' = c('za1', 'za22'), 
                          'b'= c('b'),
                          'c' = c()))
values <- get_values_of_list(dict1)
values
names(dict1)

[1] "za1"  "za22" "b"

[1] "All"

In [18]:
unlist(dict1)

All.a1 All.a2  All.b
 "za1" "za22"    "b"

In [19]:
as.vector(unlist(dict1))

[1] "za1"  "za22" "b"

## 7. Change a list to a tree

In [20]:
dic = list('All' = list('a' = c('a1', 'a2'), 
                       'b'= c('b'),
                       'c' = c()))
dic # <=> dic["All"]

$All
$All$a
[1] "a1" "a2"

$All$b
[1] "b"

$All$c
NULL

In [21]:
names(dic)

[1] "All"

In [22]:
names(dic[["All"]])

[1] "a" "b" "c"

In [23]:
dic[["All"]]

$a
[1] "a1" "a2"

$b
[1] "b"

$c
NULL

In [24]:
sub_dic <- dic[["All"]]
vec <- names(sub_dic)
unlist(sub_dic[vec])
as.vector(unlist(sub_dic[vec]))
# identical(as.vector(unlist(sub_dic[v])), c("A", "C"))

  a1   a2    b
"a1" "a2"  "b"

[1] "a1" "a2" "b"

In [ ]:
vec = c(99, 'a', 'b')
ll1 <- as.list(vec)
ll1
ll1[1]
# names(vec) <- vec

In [ ]:
ll2 <- as.list(setNames(vec, vec))
ll2
class(ll2)
ll2[['99']]

In [4]:
x = list("ev1"=c(10, 20, 30), "ev2"=15, "rv"="Group 1")
x

$ev1
[1] 10 20 30

$ev2
[1] 15

$rv
[1] "Group 1"

In [5]:
unlist(x)

     ev11      ev12      ev13       ev2        rv
     "10"      "20"      "30"      "15" "Group 1"

In [6]:
attributes(x)

$names
[1] "ev1" "ev2" "rv"

## 8. Sorted values in a sub-list

In [30]:
dic = list('All' = list('a' = c('a1', 'a2', 'a3'), 
                        'b' = c('b1', 'b2', 'a3'),
                        'c' = c()))
dic # <=> dic["All"]

$All
$All$a
[1] "a1" "a2" "a3"

$All$b
[1] "b1" "b2" "a3"

$All$c
NULL

In [31]:
# Move a2 to the first item of key a
# dic[['All']][['b']] <- sort(dic[['All']][['b']])
# stack(dic[['All']])
dic1 <- dic[["All"]]
idx <- sapply(dic1, function(x) any( x %in% c("a3")))
idx
names(dic1)[ idx ]

    a     b     c
 TRUE  TRUE FALSE

[1] "a" "b"

In [35]:
get_key_of_a_given_value <- function(dic, value){
    idx <- sapply(dic, function(x) any( x %in% c(value)))
    return (names(dic[idx]))
}

In [44]:
dic = list('a' = c('a1', 'a2', 'a3'), 
           'b' = c('b1', 'b2', 'a3'),
           'c' = c())

keys <- get_key_of_a_given_value(dic, value="b2")
class(keys)

[1] "character"

In [45]:
keys[1]

[1] "b"

In [41]:
ll[2]

[1] NA

In [46]:
keys <- get_key_of_a_given_value(dic, value="a3")
class(keys)
keys

[1] "character"

[1] "a" "b"

In [48]:
keys <- get_key_of_a_given_value(dic, value="NOT existed")
keys

character(0)

In [2]:
get_key_of_given_values <- function(dic, values){
  # To get a vector of key given by a vector of values from a one-level R list (one-level dict in Python)
  # Input: 
  #   dic: one-level R list (one-level dict in Python)
  #   values: a vector of values
  # Output:
  #   a vector stores key(s)
  # Usage:
  #   dic = list('a' = c('a1', 'a2', 'a3'), 
  #              'b' = c('b1', 'b2', 'a3'),
  #              'c' = c())
  #   keys <- get_key_of_a_given_value(dic, value="b2") 
  #   --> Output: keys = c('b')
  #   keys <- get_key_of_a_given_value(dic, value="a3")
  #   --> Output: keys = c('a', 'b')
  #   keys <- get_key_of_a_given_value(dic, value="NOT existed")
  #   --> Output: keys = c()
  
  idx <- sapply(dic, function(x) any( x %in% values))
  return (names(dic[idx]))
}

In [3]:
dic = list('a' = c('a1', 'a2', 'a3'), 
           'b' = c('b1', 'b2', 'a3'),
           'c' = c())

keys <- get_key_of_given_values(dic, values=c("b2"))
keys

[1] "b"

In [4]:
keys <- get_key_of_given_values(dic, values=c("a1", "b2", "b3", "NOT existed"))
keys

[1] "a" "b"

In [5]:
keys <- get_key_of_given_values(dic, values=c("NOT existed"))
keys

character(0)

In [6]:
dic

$a
[1] "a1" "a2" "a3"

$b
[1] "b1" "b2" "a3"

$c
NULL

In [7]:
dic[['a']] <- c('a2', dic[['a']][! dic[['a']] %in% c('a2')])
# vec = c('z', vec[! vec %in% c('z')])
dic

$a
[1] "a2" "a1" "a3"

$b
[1] "b1" "b2" "a3"

$c
NULL

In [9]:
as.vector(unlist(dic))

[1] "a2" "a1" "a3" "b1" "b2" "a3"

In [10]:
move_a_specific_value_to_beginning_of_a_vec <- function(vec, value){
  vec = c(value, vec[! vec %in% c(value)])
  return (vec)
}

vec <- c('d', 'a', 'e', 'b', 'z', 'c')
vec <- move_a_specific_value_to_beginning_of_a_vec(vec=vec, value='b')
vec

[1] "b" "d" "a" "e" "z" "c"

In [ ]:
sorted_a_specific_value_within_a_specific_group <- function(markers_selected, a_selected_marker_to_sort){
    dic <- get_parent_marker_groups(vec=markers_selected, 
                                    make_shinytree_format = FALSE)
    key <- get_key_of_a_given_value(dic=dic, 
                                    value=a_selected_marker_to_sort)
    
    dic[[key]] <- move_a_specific_value_to_beginning_of_a_vec(vec=dic[[key]], 
                                                              a_selected_marker_to_sort)
    
    markers_selected <- as.vector(unlist(dic))
    
    return (markers_selected)
}