## 1. Create a matrix from a vector

In [1]:
matrix(data = c(1, 2, 3, 4, 5, 6), nrow = 2, ncol = 3, 
       byrow = FALSE  # fill data by column
       ) -> m  # save this matrix as m
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [2]:
dim(m)

[1] 2 3

In [3]:
print(m[2, 3])  # access to row and column
print(m[ , 3])  # access all rows at column 3
print(m[1, ])   # access all columns at row 1

[1] 6
[1] 5 6
[1] 1 3 5

In [4]:
# Add column names
colnames(m) <- c('x1', 'x2', 'x3')
m

     x1 x2 x3
[1,] 1  3  5
[2,] 2  4  6

In [5]:
# Add row names
rownames(m) <- c('r1', 'r2')
m

   x1 x2 x3
r1 1  3  5
r2 2  4  6

## 2. Create matrix from vectors

### column binding

In [6]:
x1 = c(1, 2, 3)
x2 = c(4, 5, 6)
m1 = cbind(x1, x2)  
m1
colnames(m1)
rownames(m1)

     x1 x2
[1,] 1  4
[2,] 2  5
[3,] 3  6

[1] "x1" "x2"

NULL

In [7]:
# Add row names
rownames(m1) <- c('r1', 'r2', 'r3')
m1

   x1 x2
r1 1  4
r2 2  5
r3 3  6

### row binding

In [8]:
x1 = c(1, 2, 3)
x2 = c(4, 5, 6)
m2 = rbind(x1, x2)  # row binding
m2
colnames(m2)
rownames(m2)

   [,1] [,2] [,3]
x1 1    2    3
x2 4    5    6

NULL

[1] "x1" "x2"

In [9]:
# Add column names
colnames(m2) <- c('a', 'b', 'c')
m2

   a b c
x1 1 2 3
x2 4 5 6