In [1]:
library(mongolite) 
library(jsonlite)
library(data.table)
library(dplyr)  # to get filter()
# library(tidyverse)

Warning message:
"package 'mongolite' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### Connect to MongoDB

In [2]:
db <- mongo(collection = "markers", 
            db = "facs",
            url = "mongodb://localhost:27017"
            )
# mongo<-mongolite::mongo(collection = "Sample", db = "Test", url = 
#                           "mongodb://User:123@Wyyuyu:13333/ty2_U",verbose = TRUE)

Registered S3 method overwritten by 'openssl':
  method      from
  print.bytes Rcpp

In [3]:
db$count('{}')

[1] 310

In [ ]:
vec <- c('AA', 'BB')
vec <- mapply(vec, )

### Search

In [4]:
search_db <- function(db, vec){
    # Input 
    # db: MongoDB object
    # vec: an array of study codes. 
    #      Eg. vec <- c("APO180", "CPI515", "NotExisted")
    # Output: a dataframe after searching
    
    # change to JSON
    vec <- toJSON(vec)
    # Create query
    query = paste0('{"individualCode": {"$in": ', vec, '}}')
    # Find
    df <- db$find(query)
    return (df)    
}

study_codes = c("APO180", "CPI515", "NotExisted")  # "APO180", "CPI515", "NotExisted"
df <- search_db(db, vec=study_codes)
dim(df)
class(df)
# df

# 1. Create a query
# # https://www.r-bloggers.com/2016/10/difference-between-paste-and-paste0/
# # paste(): concatenate a series of strings
# # The difference between paste() and paste0() is that the argument sep by default is ” ” (paste) and “” (paste0).
# create_query <- function(vec){
#     query = paste0('{"individualCode": {"$in": ', vec, '}}')
#     return (query)
# }
# study_codes = c("HBD001", "GEM177", "APO180", "NotExistedInDB")
# study_codes
# study_codes <- toJSON(study_codes)
# study_codes
# query = paste0('{"individualCode": {"$in": ', study_codes, '}}')
# query
# query_1 = create_query(vec=study_codes)
# query_1

# 2. Find()
# individuals <- db$find(query)
# class(individuals)
# colnames(individuals)

# # Explicitly way
# df <- db$find('{"individualCode" : { "$in" : ["APO180", "CPI515", "NotExisted"] } }') # "APO180",
# # df <- db$find('{"individualCode" : "APO180"}') # CPI515
# colnames(df) 
# unique(df$individualCode)
# class(unique(df$individualCode))

[1] 24  5

[1] "data.frame"

### Transform df

In [ ]:
transform_df <- function(df){
    # Input df: a dataframe of only one individualCode
    # Output: new dataframe after transforming df
    
    if (dim(df)[1] == 0){ # Empty dataframe
        return(df)
    }
    
    study_code <- unique(df$individualCode)[1]
    
    list_Samples <- df$Samples
    df_Samples <- rbindlist(list_Samples, fill=TRUE)
    list_markers <- df_Samples$markers
    df_markers <- rbindlist(list_markers, fill=TRUE)
    df_markers$studyCode <- study_code
    
    # remove "confidence" and "interpretation" columns
    df_markers <- subset(df_markers, select = -c(confidence, interpretation))
    return (df_markers)
}

df_markers_test <- transform_df(df)
dim(df_markers_test)
head(df_markers_test, 3)
tail(df_markers_test, 3)
#head(df)

### Get all data after transforming df at each study code

In [ ]:
get_df <- function(df, condition){
    # Input 
    # df: dataframe getting from search_db()
    # condition: a list of condition with key is studyCode
    #      Eg. condition <- list(studyCode=c("CPI515", "APO180"))
    # Output: a dataframe after searching
    
    if (dim(df)[1] == 0){ # Empty dataframe
        return(df)
    }
    
    df_final <- df %>%
                filter(individualCode %in% condition$studyCode) %>%
                transform_df()
    return (df_final)
}

condition <- list(studyCode=c("CPI515", "APO180"))
df_final <- get_df(df, condition)
df_final

In [ ]:
df$individualCode
class(df$individualCode)
df$individualCode[1]

In [ ]:
get_df <- function(df){
    dfs = c()
    for (study_code in unique(df$individualCode)){
        df_one_study_code <- filter(df, individualCode == study_code)
        df_tmp <- transform_df(df_one_study_code, study_code)
        dfs <- append(dfs, df_tmp)
    }
    return (do.call("rbind", dfs))
}

In [ ]:
df_t <- get_df(df)
# print(df_t)
class(df_t)

In [ ]:
dfs = c()
for (study_code in unique(df_individuals$individualCode)){
    df_filter <- filter(df_individuals, individualCode == study_code)  
    df_markers_test <- transform_df(df_filter, study_code)
    # print(df_markers_test)
    dfs <- append(dfs, list(df_markers_test))
    
}
do.call("rbind", dfs)

In [ ]:
vec <- c()
vec <- append(vec, "TT")
vec

In [ ]:
# library(data.table)

# list_Samples <- df_individuals$Samples
# df_Samples <- rbindlist(list_Samples, fill=TRUE)
# list_markers <- df_Samples$markers
# df_markers <- rbindlist(list_markers, fill=TRUE)
# length(df_markers)
# class(df_markers)
# write.csv(df_markers, 'df_markers.csv') # fwrite(df, "df.csv") 17X faster
# # df_markers

In [ ]:
# str(individuals)
flatten <- function(x, recursive = TRUE){
  stopifnot(is.data.frame(x))
  nr <- nrow(x)
  dfcolumns <- vapply(x, is.data.frame, logical(1))
  if(!any(dfcolumns)){
    return(x)
  }
  x <- if(recursive){
    c(x[!dfcolumns], do.call(c, lapply(x[dfcolumns], flatten)))
  } else {
    c(x[!dfcolumns], do.call(c, x[dfcolumns]))
  }
  class(x) <- "data.frame"
  row.names(x) <- if(!nr) character(0) else 1:nr;
  x
}

In [ ]:
flatten(individuals)

In [ ]:
x = data.table::data.table(
  id = 1:3,
  values = list(list(a = 1, b = 3), list(a = 2, b = 2), list(a = 3))
)
x

In [ ]:
unwrap(x)

### Transform multi-level JSON to df

In [ ]:
sample.df <- individuals['Samples']

In [ ]:
library(dplyr)
library(tidyr)
library(purrr)
library(jsonlite)

sample.df %>%
  mutate(
    json_parsed = map(Samples, ~ fromJSON(., flatten=TRUE))
  ) %>%
  unnest(json_parsed)

#### Example

In [ ]:
mng_conn<-mongo(collection = 'vidPrac',db='video_practice')

In [ ]:
# mng_conn$info()

In [ ]:
fun_dta <- c('{"first_name":"Mr Bilbo","last_name": "Baggins","hobbies":["find rings", "adventure","magic"]}',
             '{"first_name":"Golumn","hobbies":["steal rings","bite people", "talk to myself"]}')
fun_dta

In [ ]:
mng_conn$insert(fun_dta)

In [ ]:
mng_conn$find('{}')

In [ ]:
mng_conn$update('{"first_name":"Golumn"}', 
                '{"$set":{"last_name": "The Lonely"}}',
                upsert=TRUE)

In [ ]:
mng_conn$find('{}')

In [ ]:
mng_conn$find('{}', fields='{"_id":1, "first_name": 1}')

In [ ]:
mng_conn$aggregate('[{"$match":{"_id":{"$oid":"60f95885d66000008a007004"}}},
                               {"$addFields":{"hobbies":{"$concatArrays":["$hobbies",["Eat Fish"]]}}}]')

In [ ]:
mng_conn$find('{}')

In [ ]:
mng_conn$update('{"_id":{"$oid":"60f95885d66000008a007004"}}',
                        '{"$push":{"hobbies":"Eat Fish"}}',
                upsert=TRUE)

In [ ]:
mng_conn$find('{}')

In [ ]:
mng_conn$find(sort='{"first_name":1}')

In [ ]:
mng_conn$find(sort='{"first_name":1,"latst_name":1}')

In [ ]:
mng_conn$find('{"_id":{"$oid":"60f95885d66000008a007004"}}')

In [ ]:
# create directory, within our CWD to store output file
dir.create('output_files_practice')

# send file to our directory:
mng_conn$export(file("output_files_practice/hobbits.json"))

In [ ]:
mng_conn$remove('{"_id":{"$oid":"60f95885d66000008a007004"}}')

In [ ]:

mng_conn$find('{}')

In [ ]:
show dbs

In [ ]:
# install.packages('heatmaply')

In [ ]:
mtcars

In [ ]:
library("heatmaply")

In [ ]:
ggheatmap(mtcars)