In [1]:
library(dplyr) 
library(tidyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'tidyr' was built under R version 3.6.3"

In [5]:
df1 = NULL
df1

NULL

In [7]:
# Generate data frame
df2 <- data.frame(
  "studyCode" = c('CPI515'), 
  "marker1" = c(0.3)
)
df2

  studyCode marker1
1 CPI515    0.3

In [9]:
if (!is.null(df1)) {
    print(df1)
}

In [10]:
if (!is.null(df2)) {
    print(df2)
}

  studyCode marker1
1    CPI515     0.3

In [4]:
# Generate data frame
df <- data.frame(
  "studyCode" = c('CPI515', 'CPI248', 'CPI270', 'CPI280', 'CPI282'), 
  "marker1" = c(0.3, NA, 0.2, 0.4, 0.1),
  "marker2" = c(0.6, 0.1, 0.3, 0.4, 0.3)  
)
# row.names(df) <- df[['index']]
# df <- subset(df, select = -c(index))
df

  studyCode marker1 marker2
1 CPI515    0.3     0.6
2 CPI248     NA     0.1
3 CPI270    0.2     0.3
4 CPI280    0.4     0.4
5 CPI282    0.1     0.3

In [5]:
marker1 <- sym("marker1")
studyCode <- sym("studyCode")
df1 <- df %>% arrange(marker1, studyCode) # df=arrange(df,desc(frequency),desc(type))
df1

  studyCode marker1 marker2
1 CPI282    0.1     0.3
2 CPI270    0.2     0.3
3 CPI515    0.3     0.6
4 CPI280    0.4     0.4
5 CPI248     NA     0.1

In [ ]:
#df1 <- df[with(df, order('marker1')), ]
df <- dd[with(df, order(marker1)), ]
df1

In [ ]:
dd <- data.frame(     
      x = c("A", "D", "A", "C"), 
      y = c(8, 3, 9, 9),
      z = c(1, 5, 3, 6))
dd
studyCode

In [ ]:
dd1 <- dd[with(dd, order(z)), ]
dd1

In [ ]:
sort_a_marker <- function(df, selected_marker, asc=TRUE, keep_all_cols=TRUE){
    # To sort a marker in asc or desc order
    # Input
    # df: a dataframe in a standard format. 
    #     Ref get_standard_df_control(), get_standard_df_data()
    # selected_marker: a column name in a string format
    # asc: sort marker as asc order if TRUE, else desc
    #      Default: TRUE
    # keep_all_cols: keep all columns if TRUE, else get ONLY selected_marker column
    # Ouput: a new dataframe
    #
    # Usage:
    # df = studyCode	marker1	 marker2
    #       CPI515	      0.3	  0.6
    #       CPI248	      NA	  0.1
    #       CPI270	      0.2	  0.3
    #       CPI280	      0.4	  0.4
    #       CPI282	      0.1	  0.3
    # df_sorted = sort_a_marker(df, selected_marker='marker1', asc=TRUE, keep_all_cols=TRUE)
    # df_sorted =
    #      studyCode	marker1	 marker2
    #       CPI282	      0.1	  0.3
    #       CPI270	      0.2	  0.3
    #       CPI515	      0.3	  0.6
    #       CPI280	      0.4	  0.4
    #       CPI248	      NA	  0.1
    
    if (keep_all_cols == FALSE){
        df <- subset(df, select = c(selected_marker, 'studyCode')) 
    }
    
    selected_marker_sym <- sym(selected_marker)
    if (asc == TRUE){
        df_sorted <- df %>% arrange(!!selected_marker_sym)
    } else {
        df_sorted <- df %>% arrange(desc(!!selected_marker_sym))
    }      
    return (df_sorted)
}

In [ ]:
df_sorted = sort_a_marker(df, selected_marker='marker1', asc=T, keep_all_cols=F)
df_sorted

library(data.table)
df_tran <- transpose(df_sorted, keep.names="marker", make.names="studyCode", fill=NA, ignore.empty=FALSE)
df_tran

In [ ]:
df

In [ ]:
paste(c('AA', 'BB', 'CC'), collapse = "\n")

In [ ]:
tt = cat(paste(c('AA', 'BB', 'CC'), collapse = "\n"))
class(tt)

In [ ]:
help(cat)

In [ ]:
paste("hello", "world", sep = "\n")

In [ ]:
create_str_dQuotes <- function(vec){
  # Input:
  #   vec: a vector 
  # Output:
  #   a string with double quote for every element of vec
  # Usage:
  #   vec_str <- create_str_dQuotes(vec = c('AA', 'BB', 99, 'CC'))
  #   Output: ' "AA", "BB", "99", "CC" '     
  vec_str <- sapply(strsplit(paste(vec, collapse = ","), ","), function(x) toString(dQuote(x)))
  return (vec_str)
} 

vec_str <- create_str_dQuotes(vec = c('AA', 'BB', 99, 'CC'))
vec_str

In [ ]:
vec = c('AA', 'BB', 99, 'CC')
strsplit(paste(vec, collapse = ","), ",")

In [ ]:
vec_str[0]

In [ ]:
paste(vec_str, collapse = "\n")

In [ ]:
paste(vec, sep="<br/>")

In [ ]:
vec = c('AA AA1', 'BB', 99, 'CC')
# tt = strsplit(paste(vec, collapse = ","), ",")
paste(vec, collapse = ' <br> ')

In [ ]:
library(stringi)

In [ ]:
options(useFancyQuotes = FALSE)

In [ ]:
vec=c(3598, 93215, 80793, 92884)
vec_str <- toString(sQuote(vec))
vec_str

query <- stri_paste("SELECT * FROM individual_phenotype_values WHERE individual_id IN ",
                       "(", vec_str, ")",
                       collapse = "")
query