# I. Vector Basics

### Make a seq.

In [1]:
(x <- 1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
x

 [1]  1  2  3  4  5  6  7  8  9 10

#### get()

In [3]:
get("x")

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
x <- seq(from=1, to=10, by=2)
x

[1] 1 3 5 7 9

In [5]:
x <- seq(from=1, to=10, by=2)
x

[1] 1 3 5 7 9

In [6]:
 # Note: = can mean assignment, function argument binding or case statement depending on context
y = seq(from=1, to=10, by=2)
y

[1] 1 3 5 7 9

### Broad casting

In [7]:
x + 5

[1]  6  8 10 12 14

### Elementwise for 2 vectors with the same length

In [8]:
z = x + y
z

[1]  2  6 10 14 18

### Subset of a vector

In [9]:
xx = x[1:3]
xx

[1] 1 3 5

### Access one element

In [10]:
x3 = x[3]
x3

[1] 5

### Remove one element. Note: index in R comes from 1 (NOT 0)

In [11]:
x <- seq(from=1, to=10, by=2)
x_except_index_3 = x[-3]
x_except_index_3

[1] 1 3 7 9

In [12]:
x <- seq(from=1, to=10, by=2)
x_removed_7 = x[x!= 7]
x_removed_7
class(x_removed_7)

[1] 1 3 5 9

[1] "numeric"

In [13]:
x <- seq(from=1, to=10, by=2)
x_removed_7_9 <- x[!x %in% c(7, 9)]
x_removed_7_9
class(x_removed_7_9)

[1] 1 3 5

[1] "numeric"

### NA ‘Not Available’ / Missing Values  
At console >?NA   can see the documentation of NA

In [14]:
x <- c(20.7, NA, 10)
x

[1] 20.7   NA 10.0

### Check NA:  is.na(a_value), anyNA(a_vector)

In [15]:
value1 = 'test'
is.na(value1)

[1] FALSE

In [16]:
value2 = NA
is.na(value2)

[1] TRUE

In [17]:
anyNA(c(10, "test", 90.1))

[1] FALSE

In [18]:
anyNA(c(10, "test", NA, 90.1))

[1] TRUE

### Coercion / casting

In [19]:
xx <- c(10, 20.9, 'aa')  # coercion to character type (string)
xx

[1] "10"   "20.9" "aa"

In [20]:
xx <- c(TRUE, 9, FALSE)  # coercion to integer. TRUE: 1, FALSE: 0
xx

[1] 1 9 0

In [21]:
xx <- c(TRUE, 'a', 9, FALSE)  # coercion to character type (string). 
                              #TRUE: "TRUE", FALSE: "FALSE"
xx

[1] "TRUE"  "a"     "9"     "FALSE"

In [22]:
xx <- c(as.character(10), as.character(as.numeric(TRUE)), 'aa') # explicit way 
xx

[1] "10" "1"  "aa"

### Vector naming

In [23]:
x <- 1:3
print(x)
name = names(x)  # does x have a name?
print(name)      # NULL: meaning no name

[1] 1 2 3
NULL

In [24]:
letters # R provides a list of lower-case letters from 'a' to 'z'

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [25]:
LETTERS # R provides a list of upper-case letters from 'A' to 'Z'

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [26]:
LETTERS[1:3]

[1] "A" "B" "C"

In [27]:
print('x before')
print(x)

print('x after')
names(x) <- LETTERS[1:3]
print(x)

[1] "x before"
[1] 1 2 3
[1] "x after"
A B C
1 2 3

In [28]:
class(x)
x['A']

[1] "integer"

A
1

In [29]:
xx <- c('A'=9, 'B'=2, 'C'=7)  # Assign names directly
xx

A B C
9 2 7

### Append values to vector

In [30]:
y <- c(1, 2, 3)     # y is vector 1, 2, 3
z <- c(y, 4, 5, 6)  # z is vector 1 2 3 4 5 6
zz <- c(y, z)       # zz is vector 1 2 3 1 2 3 4 5 6
zz

[1] 1 2 3 1 2 3 4 5 6

### mean(), sum(), min(), max() of vector

In [31]:
y <- c(2, 4, 6)
z <- c(y, NA)
mean(y)
mean(z)
mean(z, na.rm=TRUE)

[1] 4

[1] NA

[1] 4

### sort a vector

In [1]:
x <- c(1, NA, 99, 9, NA)
x

[1]  1 NA 99  9 NA

In [2]:
sort(x)

[1]  1  9 99

In [4]:
sort(x, decreasing = TRUE)

[1] 99  9  1

In [6]:
sort(x, decreasing = FALSE, na.last = NA)

[1]  1  9 99

In [7]:
sort(x, decreasing = FALSE, na.last = TRUE)

[1]  1  9 99 NA NA

In [8]:
sort(x, decreasing = FALSE, na.last = FALSE)

[1] NA NA  1  9 99

# II. Operations with Vector

### Add Leading character to every element in vec

In [32]:
vec <- c('AA', 'BB')
vec

[1] "AA" "BB"

In [33]:
# Add ^ 
new_vec <- paste0("^", vec)
new_vec

[1] "^AA" "^BB"

### Replicate values

In [34]:
rep('Test', 5)

[1] "Test" "Test" "Test" "Test" "Test"