# I. Vector Basics

### Values

In [1]:
v <- 10
v

[1] 10

In [2]:
v <- NULL
v

NULL

In [3]:
if (is.null(v)){
    print('Null value')
} else {
    print(v)
}

[1] "Null value"

### Make a seq.

In [4]:
(x <- 1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
x

 [1]  1  2  3  4  5  6  7  8  9 10

#### get()

In [6]:
get("x")

 [1]  1  2  3  4  5  6  7  8  9 10

In [7]:
x <- seq(from=1, to=10, by=2)
x

[1] 1 3 5 7 9

In [8]:
x <- seq(from=1, to=10, by=2)
x

[1] 1 3 5 7 9

In [9]:
 # Note: = can mean assignment, function argument binding or case statement depending on context
y = seq(from=1, to=10, by=2)
y

[1] 1 3 5 7 9

### length

In [10]:
x <- seq(from=1, to=10, by=2)
length(x)

[1] 5

In [11]:
x <- c()
length(x)

[1] 0

### 'jsonlite' libarary

In [12]:
library("jsonlite")
vec <- c()
vec <- toJSON(vec)
vec

{}

In [13]:
library("jsonlite")
vec <- c('A', 99, NA)
vec <- toJSON(vec)
vec

["A","99",null]

### Broad casting

In [14]:
x + 5

numeric(0)

### Elementwise for 2 vectors with the same length

In [15]:
z = x + y
z

numeric(0)

### Subset of a vector

In [16]:
xx = x[1:3]
xx

NULL

### Access one element

In [17]:
x3 = x[3]
x3

NULL

### Remove one element. Note: index in R comes from 1 (NOT 0)

In [18]:
x <- seq(from=1, to=10, by=2)
x_except_index_3 = x[-3]
x_except_index_3

[1] 1 3 7 9

In [19]:
x <- seq(from=1, to=10, by=2)
x_removed_7 = x[x!= 7]
x_removed_7
class(x_removed_7)

[1] 1 3 5 9

[1] "numeric"

In [20]:
x <- seq(from=1, to=10, by=2)
x_removed_7_9 <- x[!x %in% c(7, 9)]
x_removed_7_9
class(x_removed_7_9)

[1] 1 3 5

[1] "numeric"

### NA ‘Not Available’ / Missing Values  
At console >?NA   can see the documentation of NA

In [21]:
x <- c(20.7, NA, 10)
x

[1] 20.7   NA 10.0

### Check NA:  is.na(a_value), anyNA(a_vector)

In [22]:
value1 = 'test'
is.na(value1)

[1] FALSE

In [23]:
value2 = NA
is.na(value2)

[1] TRUE

In [24]:
anyNA(c(10, "test", 90.1))

[1] FALSE

In [25]:
anyNA(c(10, "test", NA, 90.1))

[1] TRUE

### Coercion / casting

In [26]:
xx <- c(10, 20.9, 'aa')  # coercion to character type (string)
xx

[1] "10"   "20.9" "aa"

In [27]:
xx <- c(TRUE, 9, FALSE)  # coercion to integer. TRUE: 1, FALSE: 0
xx

[1] 1 9 0

In [28]:
xx <- c(TRUE, 'a', 9, FALSE)  # coercion to character type (string). 
                              #TRUE: "TRUE", FALSE: "FALSE"
xx

[1] "TRUE"  "a"     "9"     "FALSE"

In [29]:
xx <- c(as.character(10), as.character(as.numeric(TRUE)), 'aa') # explicit way 
xx

[1] "10" "1"  "aa"

### Vector naming

In [30]:
x <- 1:3
print(x)
name = names(x)  # does x have a name?
print(name)      # NULL: meaning no name

[1] 1 2 3
NULL

In [31]:
letters # R provides a list of lower-case letters from 'a' to 'z'

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [32]:
LETTERS # R provides a list of upper-case letters from 'A' to 'Z'

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [33]:
LETTERS[1:3]

[1] "A" "B" "C"

In [34]:
print('x before')
print(x)

print('x after')
names(x) <- LETTERS[1:3]
print(x)

[1] "x before"
[1] 1 2 3
[1] "x after"
A B C
1 2 3

In [35]:
class(x)
x['A']

[1] "integer"

A
1

In [36]:
xx <- c('A'=9, 'B'=2, 'C'=7)  # Assign names directly
xx

A B C
9 2 7

### Append values to vector

In [37]:
y <- c(1, 2, 3)     # y is vector 1, 2, 3
z <- c(y, 4, 5, 6)  # z is vector 1 2 3 4 5 6
zz <- c(y, z)       # zz is vector 1 2 3 1 2 3 4 5 6
zz

[1] 1 2 3 1 2 3 4 5 6

### mean(), sum(), min(), max() of vector

In [38]:
y <- c(2, 4, 6)
z <- c(2, NA, 4, 6, NA)
print("mean y")
mean(y)

print("mean z: na.rm=FALSE")
mean(z)

print("mean z: na.rm=TRUE")
mean(z, na.rm=TRUE)

[1] "mean y"

[1] 4

[1] "mean z: na.rm=FALSE"

[1] NA

[1] "mean z: na.rm=TRUE"

[1] 4

### sort a vector

In [39]:
x <- c(1, NA, 99, 9, NA)
x

[1]  1 NA 99  9 NA

In [40]:
sort(x)

[1]  1  9 99

In [41]:
sort(x, decreasing = TRUE)

[1] 99  9  1

In [42]:
sort(x, decreasing = FALSE, na.last = NA)

[1]  1  9 99

In [43]:
sort(x, decreasing = FALSE, na.last = TRUE)

[1]  1  9 99 NA NA

In [44]:
sort(x, decreasing = FALSE, na.last = FALSE)

[1] NA NA  1  9 99

### Check if a variable is a vector?   
``` Use: is.vector(vec) && is.atomic(vec) ```

In [45]:
is_vector <- function(var){
  return (is.vector(var) && is.atomic(var))
}

In [46]:
mymatrix <- matrix()
mylist <- list()
myvec <- c("a", "b", "c")

print('Test Matrix')
is_vector(mymatrix)

print('Test List')
# 

print('Test Vector')
is_vector(myvec)

[1] "Test Matrix"

[1] FALSE

[1] "Test List"
[1] "Test Vector"

[1] TRUE

In [47]:
mymatrix <- matrix()
mylist <- list()
myvec <- c("a", "b", "c")

print('Test Matrix')
is.vector(mymatrix) # FALSE
is.vector(mymatrix) && is.atomic(mymatrix) # FALSE

print('Test List')
is.vector(mylist) # TRUE
is.atomic(mylist) # FALSE
is.vector(mylist) && is.atomic(mylist) # FALSE

print('Test Vector')
is.vector(myvec)  #  TRUE
is.vector(myvec) && is.atomic(myvec) # TRUE

[1] "Test Matrix"

[1] FALSE

[1] FALSE

[1] "Test List"

[1] TRUE

[1] FALSE

[1] FALSE

[1] "Test Vector"

[1] TRUE

[1] TRUE

# II. Operations with Vector

### Add Leading character to every element in vec

In [48]:
vec <- c('AA', 'BB')
vec

[1] "AA" "BB"

In [49]:
# Add ^ 
new_vec <- paste0("^", vec)
new_vec

[1] "^AA" "^BB"

### Replicate values

In [50]:
rep('Test', 5)

[1] "Test" "Test" "Test" "Test" "Test"

### Creating a comma separated vector  
```
- paste() and paste0() are to concatenate a series of strings.  
- The difference between paste() and paste0() is that the argument sep by default is ” ” (paste) and “” (paste0).
- paste0() is faster than paste() if our objective is concatenate strings without spaces because we don’t have to  specify the argument sep
```

In [51]:
values = c(1:5)
values

[1] 1 2 3 4 5

In [52]:
values_comma <- paste(values, collapse=", ")
values_comma
class(values_comma)

[1] "1, 2, 3, 4, 5"

[1] "character"

In [53]:
values_comma <- paste0(values, collapse=", ")
values_comma
class(values_comma)

[1] "1, 2, 3, 4, 5"

[1] "character"

In [54]:
values_comma <- cat(paste(values, collapse=", "))
values_comma
class(values_comma)

1, 2, 3, 4, 5

NULL

[1] "NULL"

### Create a double quote for every element of a vector

In [55]:
vec = c('AA', 'BB', 99, 'CC')

In [56]:
vec_str <- sapply(strsplit(paste(vec, collapse = ", "), ','), function(x) toString(dQuote(x)))
vec_str

[1] "\"AA\", \" BB\", \" 99\", \" CC\""

In [57]:
# Test inside
paste(vec, collapse = ", ")

[1] "AA, BB, 99, CC"

In [58]:
# Test inside
strsplit(paste(vec, collapse = ", "), ',')

[[1]]
[1] "AA"  " BB" " 99" " CC"